@model IEnumerable<System_rezerwacji_biletów_w_Multikinie.Models.Bilet>

@{
    ViewBag.Title = "Bilety";
}

<h2>Bilety</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdSeansu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdMiejsca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdSeansu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdMiejsca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cena)
        </td>
    </tr>
}

</table>
