@model IEnumerable<System_rezerwacji_biletów_w_Multikinie.Models.Seans>

@{
    ViewBag.Title = "Index";
}

<h2>Sense</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TytułFilmu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TytułFilmu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ID })
            </td>
        </tr>
    }

</table>