@model System_rezerwacji_biletów_w_Multikinie.Models.Seans

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Seans</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdFilmu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdFilmu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TytułFilmu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TytułFilmu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdSali)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdSali)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Data)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
